# Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [2]:
def is_symmetrical(num):
    num_str = str(num)
    reverse_str = num_str[::-1]
    
    if num_str == reverse_str:
        return True
    else:
        return False

is_symmetrical(1112111)

True

# Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums('2, 3') ➞ 6

multiply_nums('1, 2, 3, 4') ➞ 24

multiply_nums('54, 75, 453, 0') ➞ 0

multiply_nums('10, -2') ➞ -20

In [12]:
s = "54, 75, 453, 0"
def multiply_nums(s):
    s = s.replace(' ', "")
    l = s.split(",")
    m = 1
    for i in l:
        m  = m*int(i)
    return m

multiply_nums(s)

0

# Question 3
Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [46]:
def square_digits(n):
    s = str(n)
    m = ''
    for i in s:
        m = m + str(int(i)**2)
    return m

square_digits(3212)

'9414'

# Question 4
Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [50]:
l = [5, 7, 8, 9, 10, 15]
def setify(l):
    return list(set(l))

setify(l)

[5, 7, 8, 9, 10, 15]

# Question 5
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

* The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in512 is (5+1+2)/3(number of digits) = 8/3=2).
* The mean will always be an integer.

In [54]:
def mean(n):
    num = len(str(n))
    sum = 0
    for i in str(n):
        sum = sum + int(i)
    mean  = int(round(sum/num))
    return mean

mean(55)

5